@charset "UTF-8"; 


.layuntSobre {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 15vh auto;
}

.layuntSobre p {
    color: #242424de;
    line-height: 1.5em;
    max-width: 400px;
}

.sobreColor h1 {
    font-size: 2.8em;
    color: #242424;
    font-weight: bold;
}

/* Adiocionar e tirar numero   */

.addNum {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 ;
}

.addNum h2 {
    font-size: 4em;
}

.addNum button {
    background-color: #910bcf;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    width: 50px;
    font-size: 18px;
    padding: 7px 10px;
    margin: 0 10px;
    transition: all .3s;
}

.addNum button:hover {
    background-color: #690697;
}
 
@media screen and (max-width: 800px) {
    .layuntSobre img {
        width: 100%;
    }
}