@charset "UTF-8"; 

* {
    list-style-type: none;
}

header {
    background-color: #280f74;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header ul {
    display: flex;
}

header a {
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: normal;
    font-size: 18px;
    padding: 7px 20px;
    transition: all .8s;
}

header a:hover {
    background-color: white;
    color: #242424;

}

nav {
    display: flex;
    align-items: center;
}

.logo {
    background-color: rgb(236, 234, 234);
    cursor: pointer;
    margin-right: 50px;
    width: 30px;
    height: 30px;
    border-radius: 50px 0;
    transition: .7s;
}

.logo:hover {
    border-radius: 0 50px;
}

.junte_se {
    border: 1px solid white;
    margin-left: 10px;
}

.junte_se:hover {
    background-color: rgb(125, 8, 235);
    border: none;
}

@media screen and (max-width: 1000px) {
    nav {
        display: none;
    }
}