@charset "UTF-8"; 

section {
    background-image:linear-gradient(to left, #280f74, #00ff62); 
    color: white;   
    height: 100vh;
    transition: all .9s;
}

/* leyaut da section */ 

.layoutSection {
    display: grid;
    grid-template-columns: 400px auto;
    max-width: 700px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

article {
    margin: auto;
    padding: 20px;
    max-width: 300px;
}

article h1 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
}

article p {
    font-size: 17px;
}

/* formulário - Name */

.FormDados {
    text-align: center;
}

.FormDados img {
    margin: 10px 0 ;
}

.FormDados input {
    display: flex;
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    border: none;
    width: 70%;
    margin: 10px auto;
    padding: 2px 4px;
    transition: all .7s;
}



/* Retorno nome escrito */

.NameEscrito {
    font-size: 1.7em;
}


/* ---- responsividade ----*/ 

@media screen and (max-width: 800px) {
    section {
        padding: 50px 0 ;
    }
    .layoutSection {
        display: block;
        position: relative;
    }

    .layoutSection h1 {
        font-size: 2em;
    }
}