
/* Estilo - Teste primeira vez com CSS no React */ 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@400;500&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* ----- cabeçalho da pagina ------ */ 

.dadosUser {
    background-color: #ebebeb;
    padding: 0px;
}

.dadosDigitados {
    background-color: #ebebeb;
    padding: 10px 20px;
    line-height: 2em;
}

.titulo {
    background-color: #003780a2;
    color: white; 
    padding: 10px;    
}

/*  inout da pagina para os dados  */

.form {
    background-color: #003780a2;
    width: 300px;
    padding: 20px;
    margin: 2% 10px;
}

.form label {
    font-size: 20px;
}

.conteinerForm {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    
}

input {
    padding: 2px;
    margin: 10px 0;
}

.btn {
    background-color: #6519bb;
    font-size: 17px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    width: 100%; 
    padding: 4px;
    margin: 3px 0;
    transition: all .3s;
}

.btn:hover {
    transform: scale(0.9);
}